body {
  background-color: red;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.shutdown-container {
  text-align: center;
  font-size: 24px;
  padding: 20px;
  background-color: #f8d7da; /* Reddish background color */
  color: #721c24; /* Dark text color */
  border: 1px solid #f5c6cb; /* Border color */
  border-radius: 5px; /* Rounded corners */
  margin: 20px auto; /* Center the container */
  max-width: 400px; /* Limit the width of the container */
}
